---
permalink: /publications
title: Schuyler - Publications
---
<!DOCTYPE html>
<html>
    <head>
<script> 
    myself = ["Schuyler D. Smith", 
                "Smith, S.D.", 
                "S.D. Smith"
              ];
</script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- PAGE TITLE -->
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.config.title }}{% endif %}</title>
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <!-- PAGE ICON -->
        {% if site.data.config.page_icon %}<link rel="shortcut icon" href="{{ site.data.config.page_icon }}" />{% endif %}
        <!-- LOAD OPEN SANS FONT -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <!-- LOAD FONTAWESOME ICONS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- LOAD ACADEMIC FONTAWESOME STYLE ICONS -->
        <link rel="stylesheet" href="/css/academicons/css/academicons.min.css"/>
        <!-- LOAD LOCAL CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}{{ '/css/main.css' }}">
        <link rel="stylesheet" href="{{ site.baseurl }}{{ '/css/mobile.css' }}">
    </head>
    <body class="subpage">
        <!-- BACKGROUND IMAGE -->
        <img src="{{ site.data.config.background }}" id="background">
        <!-- NAVIGATION BAR -->
        <div id="navmenu">
            <ul>
                {% for link in site.data.config.pages %}
                    {% assign class = nil %}
                    {% if page.url == link.url %}
                        <li><a class="active">{{ link.title }}</a></li>
                    {% else %}
                        <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!-- END NAVIGATION BAR -->

<!--    PAGE     -->

        <div class="publications" >
        <div id="pubs">
        <font size="-1">
        <!-- ARTICLES -->
        <h4><span>Articles</span></h4>
            <ul>
                {% for paper in site.data.publications.papers %}
                    <li>
                        {{ paper.authors }} 
                        {% if paper.url %}
                            <a href="{{ paper.url }}" target="_blank">
                        {% endif %}
                        <i>{{ paper.title }}</i>
                        {% if paper.url %}</a>. {% endif %}
                        {{ paper.info }}.
                    </li>
                {% endfor %}
            </ul>

        <!-- POSTERS -->
        <h4><span>Posters</span></h4>
            <ul>
                {% for poster in site.data.publications.posters %}
                    <li>
                        {{ poster.authors }} 
                        {% if poster.url %}
                            <a href="{{ poster.url }}" target="_blank">
                        {% endif %}
                        <i>{{ poster.title }}</i>
                        {% if poster.url %}</a>. {% endif %}
                        {{ poster.info }}.
                    </li>
                {% endfor %}
            </ul>

        <!-- DISSERTATIONS -->
<!--         <h4><span>Dissertations</span></h4>
            <ul>
                {% for thesis in site.data.publications.theses %}
                    <li>
                        {{ thesis.authors }} 
                        {% if thesis.url %}
                            <a href="{{ thesis.url }}" target="_blank">
                        {% endif %}
                            <i>{{ thesis.title }}</i>
                        {% if thesis.url %}</a>. {% endif %}
                        {{ thesis.info }}.
                    </li>
                {% endfor %}
            </ul> -->
        </div>
        </div>
        </font>

    <!-- BOLD MY NAME -->
    <script>
        for (i = 0; i < myself.length; i++) {
            var bold = "<b>" + myself[i] + "</b>";
            var re = new RegExp(myself[i],"g");
            document.body.innerHTML =
                document.body.innerHTML
                .replace(re, bold);
            }
    </script>
<!--         -->

        <!-- MEDIA LIST -->
        <div id="medialist-page">
            <ul>
                {% for link in site.data.media %}
                    <li><a class="{{ link.icon }}" href="{{ link.url }}" target="_blank" ><span class="description-page">{{ link.title }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- END MEDIA LIST -->
</body>
</html>
